ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0;
    list-style: none;
}

ul li{
    font-family: sans-serif;
    background-color: rgba(123, 198, 199, 0.8);
    flex: 1 1 0;
}